@import './styles/_variables';
//@import './styles/_fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root 
{
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.App 
{
    width: 100%;
    max-width: 964px;
    min-height: 300px;
    //height: 200px;
    //background: red;

    @media (max-width: $sm) {
        aspect-ratio: 8/5;
        min-height: auto;
        //max-width: 100%;

    }
}

.content 
{
     height: 100%;
    background-size: cover;
    background-position: center center;

    @media (max-width: $sm) { // below 400px
    //position:relative;
      width: 100%;
      height: 100%;
      //aspect-ratio: 8/5;
      height: auto;
      background-position: 50% bottom;
    }
}

.gradient
{
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    bottom: 0;
     background: radial-gradient(50% 90% at 20% 90%, #12101099 70%, #12101000);
    opacity: 0;
    z-index: 0;

    @media (max-width: $xs2) {
       opacity: 0.75;
    }
}

//TEXT

#label
{
    color: var(--color-static-white);
}

#title
{
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    color: var(--color-static-white);

    @media (max-width: $md) {
        font-size: 24px;
        line-height: 24px;
       // width: 65%;
    }

    @media (max-width: $xs) {
            font-size: 19px;
            line-height: 19px;
        }
}

#btn-read
{
    font-family: InterVariable;
    font-weight: 600;
    background: var(--color-fill-brand);
    font-size: 14px;
    line-height: 1.2;
    padding: 12px 24px;

    &:hover
    {
        background: var(--color-fill-brand_hover);
    }
}

.font-blickb {
  font-family: "blickVariable", sans-serif;
  font-weight: 700;
}


